{
  "parser": "babel-eslint",
  "env": {
    "node": 1,
    "mocha": 1
  },
  "rules": {
    "curly": 0,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    // because we use function declarations everywhere
    "no-use-before-define": 0,
    "comma-dangle": [2, "always-multiline"]
  },
  "globals": {
    "it": 1,
    "xit": 1,
    "describe": 1,
    "xdescribe": 1
  }
}